name: Metrics
on:
  schedule:
    - cron: "0 18 * * 0"   # (UTC) 일 18:00 = (KST) 월 03:00
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          user: sora9z
